.generator-pass {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    background-image: url("../assets/imgs/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.generator-pass-container {
    padding: 3rem 3rem;
    color: white;
    background-color: #0a0a0aed;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (min-width: 768px){        
    .generator-pass-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url("../assets/imgs/bg2.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        z-index: -100;
        opacity: .7;
        filter: brightness(0.5);
    }
}
.generator-pass h2 {
    font-size: 3rem;
}
.generator-pass h2 span {
    color: aquamarine;
    font-size: 3rem;
    padding-bottom: .8rem;
    border-bottom: .2rem solid aquamarine;
    line-height: 5rem;
}
.form-generator-pass {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form-generator-pass .select-number {
    max-width: 15rem;
    width: 100%;
    padding: .5rem;
    text-align: center;
    border: .1rem solid #000;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}
.generator-pass-options {
    display: flex;
    justify-content: left;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: aqua;
    font-weight: bold;
}
.generator-pass-options label {
    padding-right: .5rem;
    cursor: pointer;
}
.generator-pass-options input {
    cursor: pointer;
}
.form-generator-pass p {
    color: #ffffff;
    font-weight: bold;
}
.form-generator-pass p span {
    color: aquamarine;
    font-weight: bold;
}
.input-generator-pass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
    border-radius: 1rem;
}
.input-generator-pass input {
    background-color: transparent;
    border: none;
    border-right: .1rem solid #000;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    font-size: 2.5rem;
    font-weight: bold;
}
.input-generator-pass input::placeholder {
    color: #1e1d1d;
}
.input-generator-pass .copy {
    border: none;
    border-radius: 0 1rem 1rem 0;
    background-color: aquamarine;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    transition: color .3s ease;
}
.input-generator-pass .copy:hover {
    color: red;
}
.btn-generate-pass {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-image: radial-gradient(ellipse at top, #64b6e6, transparent),
    radial-gradient(ellipse at bottom, #e00dc1, transparent);
    font-size: 2rem;
    box-shadow: 0 0 1rem .1rem rgba(255, 26, 255, 0.714);
    cursor: pointer;
    transition: filter .3s ease, color .3s ease;
    font-weight: bold;
    width: 100%;
    max-width: 40rem;
}
.btn-generate-pass:hover {
    filter: drop-shadow(0 0 1rem rgba(255, 0, 0, 0.398));
    color: red;
}